
* {
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    /* border: 0; */
    min-height: 100vh;

}

/* .buttons {
    
} */

.left-section {
    display: flex;
    flex: wrap;
    flex-direction: column;
    width: 25%;
    background-color: #1F1F3D;
    border: solid 3px #353567
}
nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;   
    border-top: solid 1px #353567;
    border-bottom: solid 1px #353567
}
h1 {
    color: #E9E9F3;
    margin-left: 20px;
    font-size: medium;
}

h3 {
    color: #BFBFDD;
    margin: 20px;
    font-weight: bold;
    font-size: small;
}

#nav-inner-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%
}

#show-starred-ideas-button {
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    background-color: #5356A4;
    color: #E9E9F3;
    border-radius: 1px;
    border-color: #353567;
    margin: 20px; 
    height: 40px;
    width: 80%;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;

}

.right-section {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.top-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 100%;
    background-color: #A9AAD2;
}

form {
    font-weight: bold;
    color: #1F1F3D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 40%;
}

.form-inputs {
    margin:10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.title-inputs {
    border: 2px solid #5356A4;
    border-radius: 3px;
    height: 35px;

}

.body-inputs {
    border: 2px solid #5356A4;
    border-radius: 3px;
    height: 80px;
}

.bottom-section {
    display: flex;
    height: 60%;
    width: 100%;
    background-color: #EAEAF4;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 225px);
    grid-gap: 1rem;
    justify-items: center;
    align-items: center;
}

#save-button {
   color: #E9E9F3;
   background-color: #353567;
   border: 2px solid #5356A4;
   border-radius: 3px;
   font-weight: bold;
   padding: 8px;
   font-size: medium;
}

 .title-box {
    display: flex;
    flex-direction: column;
    font-size: small;
 }

 .body-box {
    display: flex;
    flex-direction: column;
    font-size: small;
 }

#search-button {
    background-image:url("Assets/search.svg");
    background-repeat: no-repeat;
    background-color: #353567;
    background-position: center;
    background-size: 20px;
    height: 40px;
    width:50px;
    display:flex;
    border-style: none;
    
    

}

.search-bar {
    display: flex;
    flex-direction: row;
    align-content:stretch;
    justify-content:left;
    align-items: stretch;
    height: 40px;
    border: 1px solid #5356A4;
    border-radius: 3px;
}

.search-input::placeholder {
    color: #A9AAD2
}





/*This section is for idea box*/
#user-idea-box {
    border: 2px solid #5356A4;
    height: 200px;
    width: 180px;
    display: flex;
    flex-direction: column;
    border:#1F1F3D solid 2px;
    justify-content: space-between;
}

#minibox-top {
    background-color: #1F1F3D;
}

#search-input{
    display: flex;
    width:100%;
}
#x-button {
    background-image: url("Assets/delete.svg");
    background-repeat: no-repeat;
    border: none;
    width: 20px;
    height: 20px;
    background-color: Transparent;
}   

#star-button {
    background-image: url("Assets/star-active.svg");
    background-repeat: no-repeat;
    border: none;
    width: 20px;
    height: 20px;
    background-color: Transparent;
}   
#minibox-top {
    display:flex;
    justify-content: space-between;
}
#minibox-inner {
    display: flex;
    flex-direction: column;
    padding:8px;
    background-color: #FFFFFF;
}
#minibox-inner>h2 {
    font-size: small;
    margin:0%
}

#minibox-inner>p{
    font-size: small;
    font-weight: light;
    margin-top: 10px;
    height: 100px;
    text-overflow: ellipsis;
    /* these will cut off the text that too long for the box */
}
#comment-button {
    color: #E9E9F3;
    background-image: url("Assets/comment.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-color: #5356A4;
    text-align: left;
    padding-left: 18px;
    padding-right: 65px;
    width: 100%;
    border-style: none;
}
